<template>
  <div class="day-todo">
    <div class="row flex-row-reverse">
      <div class="col-md-6 col-12 mt-3 mt-md-5 day-todo__date text-center text-md-end">
        <h1 class="date-title__day display-1">
          {{ calendar.day }}
        </h1>

        <div class="date-title__month display-2">
          <strong>{{ calendar.monthNameGenitiveCase }}</strong>
        </div>

        <div class="date-title__weekday">
          {{ calendar.weekdayName }}
        </div>
      </div>

      <div class="col-md-6 col-12 mt-5">
        <template v-if="todayTodoTemplateList.length">
          <h4>Дела
            <template v-if="isToday">на сегодня</template>
            <template v-else>в этот день</template>
          </h4>

          <div class="day-todo__list mt-3">
            <div class="todo-item" v-for="todo in todayTodoTemplateList" :key="todo.id">
              <div class="todo-item">
                <label class="todo-item__label">
                  <svg v-if="dailyTodo.includes(todo.id)" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="currentColor">
                      <line
                          class="line"
                          x1="30"
                          y1="20"
                          x2="40"
                          y2="20"
                      />
                      <line
                          class="line"
                          x1="20.007339"
                          y1="30"
                          x2="20.007341"
                          y2="39.992661"
                      />
                      <line
                          class="line"
                          x1="10"
                          y1="20"
                          x2="0.014679035"
                          y2="20"
                      />
                      <line
                          class="line"
                          x1="20.007341"
                          y1="10"
                          x2="20.007339"
                          y2="0.0073395087"
                      />
                      <line
                          class="line"
                          x1="12.986901"
                          y1="27.092039"
                          x2="5.9210248"
                          y2="34.157917"
                      />
                      <line
                          class="line"
                          x1="27.027779"
                          y1="27.092039"
                          x2="34.093655"
                          y2="34.157917"
                      />
                      <line
                          class="line"
                          x1="27.027779"
                          y1="13.051162"
                          x2="34.093655"
                          y2="5.9852862"
                          id="line1305"
                      />
                      <line
                          class="line"
                          x1="12.9869"
                          y1="13.051162"
                          x2="5.9210248"
                          y2="5.9852858"
                      />
                    </g>
                  </svg>

                  <input
                      class="todo-item__input form-check-input"
                      type="checkbox"
                      :value="todo.id"
                      :name="todo.id"
                      v-model="dailyTodo"
                  >
                  <span class="todo-item__title">{{ todo.title }}</span>
                </label>
              </div>
            </div>
          </div>
        </template>

        <template v-else>
          <h4>Дел
            <template v-if="isToday">сегодня нет</template>
            <template v-else>в этот день нет</template>
          </h4>

          <div class="day-todo__list mt-3">
            <router-link :to="{name: 'TodoCreate'}">создать</router-link>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>


<script>
import { Calendar } from "@/calendar"
import { useAppDataStore } from "@/stores/app-data"
import { useTodoTemplateStore } from "@/stores/todo-template"

export default {
  props: {
    day: String,
    month: String,
    year: String
  },
  data() {
    return {
      dailyTodo: [],
      currentDateAsString: String
    }
  },
  computed: {
    calendar() {
      if (this.$route.params.year && this.$route.params.month && this.$route.params.day) {
        const { year, month, day } = this.$route.params
        return new Calendar(year, month, day)
      }

      const today = new Date()
      const realMonth = today.getMonth() + 1
      return new Calendar(today.getFullYear(), realMonth, today.getDate())
    },
    todayTodoTemplateList() {
      return Object.entries(this.todoStore.templates)
          .map((arr) => {
            return { ...arr[1], id: arr[0] }
          })
          .filter((template) => {
            const currentDate = this.calendar.date
            const tplStartDate = new Date(template.start).setHours(0,0,0,0)
            return (currentDate - tplStartDate) >= 0
          })
    },
    isToday() {
      const today = new Calendar()
      return this.calendar.day === today.day && this.calendar.month === today.month && this.calendar.year === today.year
    }
  },
  watch: {
    dailyTodo(value) {
      this.todoStore.dailyTodo[this.currentDateAsString] = value
    }
  },
  mounted() {
    if (this.$route.params.year && this.$route.params.month && this.$route.params.day) {
      this.appDataStore.backLink = {name: "Month", params: {year: this.calendar.year, month: this.calendar.month}}
    } else {
      this.appDataStore.backLink = {name: "CurrentMonth"}
    }

    this.currentDateAsString = this.calendar.toString()
    if (!this.todoStore.dailyTodo[this.currentDateAsString]) {
      this.todoStore.dailyTodo[this.currentDateAsString] = []
    }

    this.dailyTodo = this.todoStore.dailyTodo[this.currentDateAsString]
  },
  setup() {
    return {
      appDataStore: useAppDataStore(),
      todoStore: useTodoTemplateStore()
    }
  }
};
</script>

<style scoped>
.date-title__day {
  font-size: 4rem;
  margin: 0;
}

.date-title__month {
  font-size: 2rem;
}

.date-title__weekday {
  margin-top: 0.5rem;
}

.todo-item {
  height: 2rem;
}

.todo-item__input:focus {
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%)
}

.todo-item__label {
  display: inline-flex;
  gap: .5rem;
  position: relative;
}

.todo-item__label svg {
  position: absolute;
  left: 7px;
  top: 11px;
  transform: translate(-50%, -50%);
  width: 48px;
}

.todo-item__label svg .line {
  color: dodgerblue;
  animation: dash .6s ease-out;
  animation-fill-mode: forwards;
  stroke-width: 2px;
}

@keyframes dash {
  0% {
    stroke-dasharray: 0,0;
    stroke-dashoffset: 0;
    opacity: 0;
  }

  20% {
    stroke-dasharray: 0,20;
    stroke-dashoffset: 20;
    opacity: .5;
  }

  50% {
    stroke-dasharray: 20,0;
    stroke-dashoffset: 20;
    opacity: 1;
  }

  100% {
    stroke-dasharray: 0,20;
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

</style>