<template>
  <div class="month-todo">
    <div class="month-todo__head mt-4 container">
      <div class="row">
        <div class="col-6">
          <router-link
              :to="{name: 'Month', params: {year: prevMonth.year, month: prevMonth.month}}"
              class="text-decoration-none text-body"
          >
            <img :src="chevronLeftIcon" alt="Предыдущий месяц">
            {{ prevMonth.localizedMonthName }}
          </router-link>
        </div>

        <div class="col-6 text-end">
          <router-link
              :to="{name: 'Month', params: {year: nextMonth.year, month: nextMonth.month}}"
              class="text-decoration-none text-body"
          >
            {{ nextMonth.localizedMonthName }}
            <img :src="chevronRightIcon" alt="Следующий месяц">
          </router-link>
        </div>
      </div>
    </div>

    <div class="month-todo__body mt-4">
      <calendar :date="date" @clickDay="onClickDay" />
    </div>
  </div>
</template>

<script>
import CalendarComponent from "../components/Calendar.vue";
import { useAppDataStore } from "@/stores/app-data"
import chevronLeftIcon from "@/assets/icons/chevron-left.svg"
import chevronRightIcon from "@/assets/icons/chevron-right.svg"
import { Calendar } from "@/calendar"

export default {
  components: {
    Calendar: CalendarComponent,
  },
  computed: {
    date() {
      if (this.$route.params.month) {
        return new Date(
          this.$route.params.year + "-" + this.$route.params.month + "-01"
        );
      }

      return new Date();
    },
    prevMonth() {
      return new Calendar(this.date.getFullYear(), this.date.getMonth())
    },
    nextMonth() {
      return new Calendar(this.date.getFullYear(), this.date.getMonth() + 2)
    }
  },
  mounted() {
    this.appDataStore.backLink = {name: "Year", params: { year: this.date.getFullYear()}}
  },
  methods: {
    onClickDay(payload) {
      const params = {
        year: payload.year,
        month: payload.month,
        day: payload.day
      }
      this.$router.push({name: "Day", params});
    }
  },
  setup() {
    return {
      chevronLeftIcon,
      chevronRightIcon,
      appDataStore: useAppDataStore(),
    }
  }
};
</script>

<style scoped>
.month-todo {
  max-width: 400px;
  margin: 0 auto;
}
</style>