<template>
  <div class="settings-view">
    <ul class="nav mt-3">
      <li class="nav-item">
        <router-link :to="{name: 'Settings'}" class="nav-link">Настройки</router-link>
      </li>

      <li class="nav-item">
        <router-link :to="{name: 'TodoList'}" class="nav-link">Дела</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { useAppDataStore } from "@/stores/app-data"
import { useTodoTemplateStore } from "@/stores/todo-template"

export default {
  name: "SettingsView",
  mounted() {
    if (window.history.state.back && !window.history.state.back.startsWith("/settings")) {
      this.appDataStore.backLink = window.history.state.back
    }
  },
  setup() {
    return {
      todoTemplate: useTodoTemplateStore(),
      appDataStore: useAppDataStore()
    }
  }
}
</script>

<style scoped>

</style>