<template>
  <div class="todo-create-view">
    <TodoForm
      :submit-title="'Создать'"
      @submit="onFormSubmit"
    />
  </div>
</template>

<script>
import TodoForm from "@/components/TodoForm.vue"
import { useTodoTemplateStore } from "@/stores/todo-template"

export default {
  name: "TodoCreateView",
  components: { TodoForm },
  methods: {
    onFormSubmit(payload) {
      this.todoTemplateStore.addTemplate(payload)
      this.$router.push({name: "TodoList"})
    }
  },
  setup() {
    return {
      todoTemplateStore: useTodoTemplateStore()
    }
  }
}
</script>

<style scoped>

</style>