<template>
  <div class="todo-list-view">
    <h3 class="display-5 mt-3">Список дел</h3>

    <div class="todo-list-view__list mt-4">
      <table class="w-100 table align-middle">
        <thead>
          <tr>
            <th>Название</th>
            <th>Начало</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
              class="todo-list__item"
              v-for="(todoTemplate, id) in todoTemplateStore.templates"
              :key="id"
          >
            <td>
              <router-link
                  :to="{name: 'TodoEdit', params: {id: id}}"
                  class="todo"
              >
                {{ todoTemplate.title }}
              </router-link>
            </td>

            <td>
              {{ todoTemplate.start }}
            </td>

            <td class="text-end">
              <button class="btn btn-ghost btn-sm" @click="onDeleteTemplate(id)">
                <img :src="trashIcon" alt="удалить" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { useTodoTemplateStore } from "@/stores/todo-template"
import trashIcon from "@/assets/icons/trash.svg"
import { useAppDataStore } from "@/stores/app-data"

export default {
  name: "TodoListView",
  methods: {
    onDeleteTemplate(templateId) {
      if (window.confirm(`Вы действительно хотите удалить ежедневную задачу ${this.todoTemplateStore.templates[templateId].title}?`)) {
        this.todoTemplateStore.deleteTemplate(templateId)
      }
    }
  },
  setup() {
    const appDataStore = useAppDataStore()
    appDataStore.backLink = "/settings"
    return {
      appDataStore,
      todoTemplateStore: useTodoTemplateStore(),
      trashIcon
    }
  }
}
</script>

<style scoped>
.todo-list__item {

}
</style>