<template>
  <div class="todo-edit-view">
    <TodoForm
      :title="template.title"
      :description="template.description"
      :submit-title="'Сохранить'"
    />
  </div>
</template>

<script>
import TodoForm from "@/components/TodoForm.vue"
import { useTodoTemplateStore } from "@/stores/todo-template"

export default {
  name: "TodoEditView",
  components: { TodoForm },
  props: {
    id: String
  },
  methods: {
    onSave(data) {
      console.log(data)
    }
  },
  setup: function (props) {
    const store = useTodoTemplateStore()
    return {
      todoTemplateStore: store,
      template: store.templates[props.id]
    }
  }
}
</script>

<style scoped>

</style>