<template>
  <div class="year-view">
    <h2 class="text-center display-1 mt-5">{{ year }} год</h2>

    <div class="year-view__months container-fluid mt-3">
      <div class="row gx-5">
        <div
            class="col-12 col-sm-6 col-md-6 col-lg-4 mt-3 d-flex justify-content-center"
            v-for="date in dateList"
            :key="date"
        >
          <calendar-component
              :date="date"
              :month-view="true"
              @clickMonth="onClickMonth"
              @clickDay="onClickDay"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CalendarComponent from "@/components/Calendar.vue"
import { useAppDataStore } from "@/stores/app-data"

export default {
  name: "YearView",
  components: { CalendarComponent },
  props: {
    year: String
  },
  computed: {
    dateList() {
      return [
        new Date(`${this.year}-01-1`),
        new Date(`${this.year}-02-1`),
        new Date(`${this.year}-03-1`),
        new Date(`${this.year}-04-1`),
        new Date(`${this.year}-05-1`),
        new Date(`${this.year}-06-1`),
        new Date(`${this.year}-07-1`),
        new Date(`${this.year}-08-1`),
        new Date(`${this.year}-09-1`),
        new Date(`${this.year}-10-1`),
        new Date(`${this.year}-11-1`),
        new Date(`${this.year}-12-1`),
      ]
    }
  },
  methods: {
    onClickMonth(payload) {
      this.$router.push({name: "Month", params: payload})
    },
    onClickDay(payload) {
      this.$router.push({name: "Day", params: payload})
    },
  },
  mounted() {
    this.appDataStore.backLink = ""
  },
  setup() {
    return {
      appDataStore: useAppDataStore(),
    }
  }
}
</script>

<style scoped>

</style>