<template>
  <div class="app-header">
    <div class="container">
      <div class="row gx-2">
        <div class="col-3">
          <div
              v-if="appDataStore.backLink"
              @click="onClickBackButton"
              class="app-header__button back-button text-white"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>

            <span class="back-button__title d-none d-md-inline-block">
              <template v-if="appDataStore.backLink.name === 'Day'">
                День
              </template>

              <template v-else-if="appDataStore.backLink.name === 'Month'">
                Месяц
              </template>

              <template v-else-if="appDataStore.backLink.name === 'Year'">
                Год
              </template>
            </span>
          </div>
        </div>

        <div class="col">
          <div class="text-center">
            <router-link :to="{name: 'Root'}" class="text-decoration-none text-white">
              <strong class="app-header__title">
                Ежедневные дела
              </strong>
            </router-link>
          </div>
        </div>

        <div class="col-3">
            <div class="app-header__right text-end">
              <template v-if="isTodoListPage">
                <router-link
                  class="app-header__config-button text-end cursor-pointer text-decoration-none text-white"
                  :to="{name: 'TodoCreate'}"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                </router-link>
              </template>

              <template v-else>
                <router-link
                  class="app-header__config-button text-end cursor-pointer text-decoration-none text-white"
                  :to="{name: 'Settings'}"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide-connected" viewBox="0 0 16 16">
                    <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z"/>
                  </svg>
                </router-link>
              </template>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { useAppDataStore } from "@/stores/app-data"
import chevronLeftIcon from "@/assets/icons/chevron-left.svg"
import gearIcon from "@/assets/icons/gear-wide-connected.svg"

export default {
  props: {
    backTitle: String,
    title: String,
  },
  computed: {
    isTodoListPage() {
      return this.$route.name === "TodoList"
    }
  },
  methods: {
    onClickBackButton() {
      // TODO: учитывать название роута и префикс
      this.$router.push(this.appDataStore.backLink);
    }
  },
  setup() {
    return {
      chevronLeftIcon,
      gearIcon,
      appDataStore: useAppDataStore()
    }
  }
};
</script>

<style>
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 0 0.5rem;*/
  height: 48px;
  background-color: #eb5353;
}

.back-button {
  /*display: inline-flex;*/
  /*gap: 0.2rem;*/
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  color: black;
  /*align-items: center;*/
}

.back-button:hover {
  opacity: 1;
}

.back-button__icon {
  height: 1rem;
}
</style>