<template>
  <div class="calendar" :class="{'calendar--month-view': monthView}">
    <h2 class="calendar__title" :class="{ 'display-7': monthView, 'display-3': !monthView }">
      {{ capitalize(monthName) }}
    </h2>

    <div class="calendar__body" @click="onClickMonth">
      <div class="calendar__weekday-list calendar-grid">
        <div class="calendar__weekday">Пн</div>
        <div class="calendar__weekday">Вт</div>
        <div class="calendar__weekday">Ср</div>
        <div class="calendar__weekday">Чт</div>
        <div class="calendar__weekday">Пт</div>
        <div class="calendar__weekday calendar__weekday--weekend">Сб</div>
        <div class="calendar__weekday calendar__weekday--weekend">Вс</div>
      </div>

      <div class="calendar__day-list calendar-grid">
        <template v-if="!monthView">
          <div
              v-for="(day, idx) in visiblePrevMonthDays"
              :key="day"
              class="calendar__day calendar__day--prev-month"
              :class="{ active: isCurrentDay(prevMonthDays - (visiblePrevMonthDays - idx - 1), prevMonth) }"
              @click.stop="onClickDay(prevMonthDays - (visiblePrevMonthDays - idx - 1), prevMonth)"
          >
            {{ prevMonthDays - (visiblePrevMonthDays - day) }}
          </div>
        </template>

        <div
            v-for="day in days"
            :key="day"
            class="calendar__day"
            :class="{ active: isCurrentDay(day, date.getMonth()) }"
            @click.stop="onClickDay(day, date.getMonth() + 1)"
        >
          {{ day }}
        </div>

        <template v-if="!monthView">
          <div
              v-for="(day) in visibleNextMonthDays"
              :key="day"
              class="calendar__day calendar__day--next-month"
              :class="{ active: isCurrentDay(day, nextMonth) }"
              @click.stop="onClickDay(day, nextMonth)"
          >
            {{ day }}
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { capitalize, getDaysOfMonth } from "@/utils";
import { Calendar } from "@/calendar"

export default {
  name: "CalendarComponent",
  props: {
    date: Date,
    monthView: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    model() {
      return new Calendar(this.date.getFullYear(), this.date.getMonth()+1)
    },
    monthName() {
      return this.model.localizedMonthName
    },
    firstWeekdayOfMonth() {
      return this.model.firstDayOfMonth.weekday
    },
    visiblePrevMonthDays() {
      return this.firstWeekdayOfMonth
        ? this.firstWeekdayOfMonth - 1
        : 6
    },
    prevMonthDays() {
      return this.date.getMonth()
        ? getDaysOfMonth(this.date.getMonth(), this.date.getFullYear())
        : getDaysOfMonth(12, this.date.getFullYear()-1)
    },
    visibleNextMonthDays() {
      return 7 - this.model.lastDayOfMonth.weekday
    },
    nextMonthDays() {
      return getDaysOfMonth(this.date.getMonth() + 2, this.date.getFullYear())
    },
    prevMonth() {
      return this.model.month - 1
        ? this.model.month - 1
        : Calendar.DECEMBER
    },
    nextMonth() {
      return this.model.month + 1
    },
    days() {
      return this.model.lastDayOfMonth.day
    }
  },
  methods: {
    capitalize,
    isCurrentDay(day, month) {
      const today = new Date();
      const isDayMatch = today.getDate() === day;
      const isMonthMatch = today.getMonth() === month;
      const isYearMatch = today.getFullYear() === this.date.getFullYear();
      return isYearMatch && isMonthMatch && isDayMatch;
    },
    onClickDay(day, month) {
      let year = this.model.year
      let realMonth = month
      if (month === -1) {
        realMonth = 12
        year = year - 1
      }

      this.$emit("clickDay", {year, month: realMonth, day})
    },
    onClickMonth() {
      this.$emit("clickMonth", {month: this.date.getMonth() + 1, year: this.date.getFullYear()})
    }
  },
};
</script>

<style scoped>
.calendar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar--month-view {
  cursor: pointer;
  max-width: 240px;
}

.calendar__title {
  text-align: center;
  margin-bottom: 1rem;
}

.calendar__body {
  border-radius: .5rem;
}

.calendar__day {
  padding: 1rem 0.5rem;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .5rem;
  overflow: hidden;
  transition: all .15s ease-in-out;
}

.calendar--month-view .calendar__day {
  padding: .1rem;
}

.calendar__day.active {
  position: relative;
  border-color: #E05D5D;
}

.calendar--month-view .calendar__day.active {
  background-color: #E05D5D;
}

.calendar:not(.calendar--month-view).calendar__day:hover {
  background-color: #f9f4bd;
}

.calendar__day--prev-month,
.calendar__day--next-month {
  color: #ccc;
  transition: all .2s ease-in-out;
}

.calendar__day--prev-month:hover,
.calendar__day--next-month:hover {
  color: #333;
}

.calendar__weekday {
  padding: 0.5rem;
  text-align: center;
  user-select: none;
  font-weight: bold;
}

.calendar__weekday--weekend {
  background-color: #fdd;
}
</style>