<template>
  <div class="todo-form">
    <form class="form mt-3">
      <div class="mt-3">
        <label for="todo-title" class="form-label">
          Название
        </label>
        <input id="todo-title" type="text" v-model="title$" class="form-control">
      </div>

      <div class="mt-3">
        <label for="todo-title" class="form-label">
          Начало
        </label>
        <input id="todo-title" type="text" v-model="start$" class="form-control">
      </div>

      <div class="mt-3">
        <label for="todo-description" class="form-label">
          Описание
        </label>
        <textarea
            id="todo-description"
            name="description"
            cols="30"
            rows="10"
            v-model="description$"
            class="form-control"
        ></textarea>
      </div>

      <div class="mt-3">
        <button class="btn btn-primary" @click.prevent="onSubmit">{{ submitTitle }}</button>
      </div>
    </form>
  </div>
</template>

<script>
import { Calendar } from "@/calendar"

export default {
  name: "TodoForm",
  props: {
    title: String,
    start: String,
    description: String,
    submitTitle: String
  },
  data() {
    return {
      title$: this.title,
      start$: this.start || this.todayAsString(),
      description$: this.description
    }
  },
  methods: {
    todayAsString() {
      return new Calendar().toString()
    },
    onSubmit() {
      this.$emit("submit", {
        title: this.title$,
        description: this.description$ || "",
        start: this.start$
      })
    }
  },
}
</script>

<style scoped>

</style>