<template>
  <app-header
      :title="currentPageTitle"
      :back-title="prevPageTitle"
  />
  <div id="app-header-space"></div>

  <div class="app-body">
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
import {  RouterView } from 'vue-router'
import AppHeader from "./components/AppHeader.vue";

export default {
  name: "App",
  components: {
    AppHeader,
    RouterView
  },
  data: () => {
    return {
      prevPageTitle: "Месяц",
      currentPageTitle: "Текущие задачи",
    };
  },
};
</script>

<style>
body {
  background-color: #FFF;
}

.app-body > .container,
.app-header > .container {
  max-width: 960px;
}

#app-header-space {
  height: 48px;
}
</style>